<h1 id="title">GRAFFITO</h1>
<br>
<h4 id="subtitle">Let's find some graffiti.</h4>
  <input id="search" type="text" ng-model="query" /> 
  <select id="pullme" ng-model="orderProp">
    <option value="address">Address</option>
    <option value="borough">Borough</option>      
  </select>
<div id="map-canvas">
</div>
  <div id="panel">
    <input class="button" id="markers" type=button value="Toggle markers">
    <input class="button" id="heat" type=button value="Toggle heatmap">
  </div>
  <div class="container">
    <ul class="graffitis">
      <li ng-repeat="graffito in graffiti | filter:query | orderBy:orderProp" class="graffiti">
        <div class="info">   
        <h3>graffito</h3> 
        <br><br><br><br>
          <ul class="address" ng-click="matchLat(graffito.latitude)">
            <li>Address: {{graffito.incident_address}}</li>
            <li>Borough: {{graffito.borough}}</li>
            <li>Latitude: {{graffito.latitude}}</li> 
            <li>Longitude: {{graffito.longitude}}</li> 
          </ul>
        </div>
      </li>
    </ul>
  </div>
  