{{graffitis}}

<div class="container-fluid">
      <div class="billions"></div>
      <img id="sagan" src="img/sagan.png"/>
      <a class="new" href="#/new">Register a New Space Cat</a>
      <div class="jumbo">  
        <h1>List of graffiti spottings in NYC</h1>
        <!-- add ng-model: var to your input to store user input -->
        <input id="search" type="text" ng-model="query" />
        <select ng-model="orderProp">
          <option value="latitude">Latitude</option>
          <option value="longitude">Longitude</option>
        </select>
      </div>
      <div class="container">
        <ul class="graffitis">
          <!-- add the attribute ng-repeat
              the value is "resource in set"
              this says make an li for every graffiti in the set graffitis --> 
          <!-- use pipe filter: query to auto sort your graffitis -->
          <li ng-repeat="graffiti in graffitis | filter:query | orderBy:orderProp" class="graffiti">
            <div class="info">
              <a href="#/graffitis/{{graffiti.lat}}">
                <h3>{{graffiti.count}}</h3>
              </a>
              <p>{{graffiti.count}}</p>
              <ul>
                <li>Latitude: {{graffiti.lat}}</li>
                <li>Longitude: {{graffiti.lng}}</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>