      <h1 id="title">Graffiti Heatmap</h1><br>
        <h4 id="subtitle">Let's find some graffiti.</h2>
        <!-- add ng-model: var to your input to store user input -->
        <input id="search" type="text" ng-model="query" />
        <select id="pullme" ng-model="orderProp">
          <option value="Borough">Borough</option>
          <option value="Longitude">Longitude</option>
          <option value="Address">Address</option>
        </select>
        <div id="map-canvas">
        </div>
      </div>
      <div id="panel">
        <input class="button" id="markers" type=button value="Toggle markers"><br>
        <input class="button" id="heat" type=button value="Toggle heatmap">
        <!-- <input type="button" value="Toggle Street View" onclick="toggleStreetView();"></input> -->
      </div>
      <div class="container">
        <ul class="graffitis">
          <!-- add the attribute ng-repeat
              the value is "resource in set"
              this says make an li for every graffiti in the set graffitis --> 
          <!-- use pipe filter: query to auto sort your graffitis -->
          <li ng-repeat="graffiti in graffitis | filter:query | orderBy:orderProp" class="graffiti">
            <div class="info">
              <a href="#/graffitis/{{graffiti.id}}">
                <h3>Graffito!</h3>
              </a><br><br><br>
              <ul class="address">
                <li>Address: {{graffiti.incident_address}}</li>
                <li>Borough: {{graffiti.borough}}</li>
                <li>Latitude: {{graffiti.latitude}}</li> 
                <li>Longitude: {{graffiti.longitude}}</li> 
              </ul>
            </div>
          </li>
        </ul>
      </div>
  