%h1
  #title Graffiti Heatmap
%p 
  #subtitle Let's find some graffiti.
#panel
%br
%br
#map-canvas
  / #panel
  /   %input onclick="showMarkers();" type=button value="Show All Markers"
  /   %input onclick="clearMarkers();" type=button value="Hide Markers"
  /   %input type="button" value="Toggle Street View" onclick="toggleStreetView();"
%br
%br
%ul
-@graffiti.each do |g|
  %li="Address: #{g.incident_address}"
  %li="Borough: #{g.borough}"
  %li="Latitude: #{g.latitude}"
  %li="Longitude: #{g.longitude}"
  %br