<header class="favorites">
  <h2>Favorites</h2>
</header>

<ng-include src="'home/_home.html'"></ng-include>

<ng-upload-form url="//jquery-file-upload.appspot.com/" auto-upload="true" size-limit="500000"></ng-upload-form>