
<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse pull-right-lg" uib-collapse="isNavCollapsed">
		<ul class="nav navbar-nav">
      <li class="li-home"><a href="#/home">Home</a></li>
      <li class="li-upload"><a href="#/upload">Upload Graffiti</a></li>
      <li ng-show="loggedIn()" class="li-gallery"><a href="#/gallery">{{user.username}}' Gallery</a></li>
      <li ng-show="loggedIn()" class="li-favorites"><a href="#/favorites">{{user.username}}' Favorites</a></li>
      <li class="li-basic-sign-in"><a href="#/archive">Archive</a></li>
      <li ng-click="authenticate('facebook')" ng-hide="loggedIn()" class="li-token-sign-in"><a href="#">Sign in with Facebook</a></li>
      <li ng-hide="loggedIn()" class="li-basic-sign-in"><a href="#login">Sign in</a></li>
      <li ng-hide="loggedIn()" class="li-register"><a href="#/register">Register</a></li>
      <li ng-show="loggedIn()" class="li-logout"><a ng-click="logout()">Log Out</a></li>
		</ul>
	</div>
</nav>
<!-- <nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div ng-hide="loading" class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li class="li-home"><a href="#/home">Home</a></li>
        <li class="li-upload"><a href="#/upload">Upload Graffiti</a></li>
        <li ng-show="loggedIn()" class="li-gallery"><a href="#/gallery">{{user.username}}' Gallery</a></li>
        <li ng-show="loggedIn()" class="li-favorites"><a href="#/favorites">{{user.username}}' Favorites</a></li>
        <li class="li-basic-sign-in"><a href="#/archive">Archive</a></li>
        <li ng-click="authenticate('facebook')" ng-hide="loggedIn()" class="li-token-sign-in"><a href="#">Sign in with Facebook</a></li>
        <li ng-hide="loggedIn()" class="li-basic-sign-in"><a href="#login">Sign in</a></li>
        <li ng-hide="loggedIn()" class="li-register"><a href="#/register">Register</a></li>
        <li ng-show="loggedIn()" class="li-logout"><a ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>   -->
</br></br>
