<div class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
    <li><a href="#/home">Home</a></li>
    <li ng-hide="loggedIn()"><a href="#login">Log in</a></li>
    <li ng-click="authenticate('facebook')" ng-hide="loggedIn()"><a href="#">Sign in with Facebook</a></li>
    <li ng-hide="loggedIn()"><a href="#/register">Register</a></li>
    <li ng-show="loggedIn()"><a href="#/favorites">{{user.username ? user.username : user.name}}</a></li>
    <li ng-show="loggedIn()"><a ng-click="logout()">Log Out</a></li>
  </ul>
</div>