/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap/dist/css/bootstrap
*= require blueimp-file-upload/css/jquery.fileupload.css
*= require blueimp-file-upload/css/jquery.fileupload-ui.css
*= require blueimp-gallery/css/blueimp-gallery.min.css
*= require blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css
*= require_tree .
*= require_self
*/
@import "variables";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../assets/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  margin: 0;
  background-color:black;
  color: $graffitigreen;
  font-family: Futura;
}

h1 { font-size: 25px; }

.map-container {
  margin-left: 8.5%;
  overflow: hidden;
  padding-bottom: 45%;
  position: relative;
  height: 0;
}

h1.title-location { display: inline-block; }

.list-container { padding-left: 8.5%; }

#map-canvas {
  left:0;
  top:0;
  position:absolute;
  height: 100%;
  width: 92%;
  border: 1px solid black;
}

.horizontal-collapse { height: 70px; }

.navbar-collapse.in { overflow-y: hidden; }

.navbar-fixed-top {
  background: black;
  border: none;
}

.btn-custom {
  border-color: #a94442;
  color: yellow;
  &:focus,
  &:hover {
    border-color: #a94442;
    color: yellow;
    box-shadow: none;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-default .navbar-nav > li > a {
  color: orange;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  text-decoration: none;
  color: $graffitilistblue;
  background-color: $graffitiyellow;
}

a:link {
  text-decoration: none;
  cursor: grabbing;
}

.page-header {
  margin-right: 60px;
}

header > span { color: $graffitigreen }

header > h3 { display: inline-block;}

header > .glyphicon { padding-left: 1px;}

.favorites {
  color: $graffitigreen;
  margin-top: 42px;
}

.home-map-button {
  position: absolute;
  z-index: 1;
  margin-top: -45%;
  @media only screen and (min-width: 768px) {
    margin-left: 36%;
  }
  @media only screen and (min-width: 850px) {
    margin-left: 38%;
  }
  @media only screen and (min-width: 924px) {
    margin-left: 43%;
  }
  @media only screen and (min-width: 992px) {
    margin-left: 121%;
    margin-top: 1%;
  }
  @media only screen and (min-width: 1020px) {
    margin-left: 122%;
  }
  @media only screen and (min-width: 1030px) {
    margin-left: 124%;
  }
  @media only screen and (min-width: 1060px) {
    margin-left: 128%;
  }
  @media only screen and (min-width: 1190px) {
    margin-left: 131%;
  }
  @media only screen and (min-width: 1205px) {
    margin-left: 137%;
  }
  @media only screen and (min-width: 1289px) {
    margin-left: 143%;
  }
}

#sign_up {
  float:right;
  margin-top: -20px;
  margin-right: 12px;
}

#pullme { position: absolute;}

.title-container {
  margin-bottom: 20px;

  a {color: $graffitigreen;}
}


#title {
  text-align: center;
  font-size: 4em;
}

#subtitle {
  text-align: center;
  margin-top: -20px;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.button {
  background-color: $graffitihotpink;
  border-radius: 5px;
  font-family: futura;
  padding: 3px;
  margin: 2px;
}

#search, select, input {
  margin: 30px 20px 20px 0;
  width: 170px;
  color: black;
  border: lightblue solid 2px;
  padding: 1px;
  font-size: 16px;
  font-weight: 600;
}

#panel {
  display: inline-block;
  position: absolute;
  padding-left: 5px;
  margin-top: 24px !important;
}

ul {
  margin-top: -60px;
}

.address {
  padding-left: 0;
  -webkit-transition: color 1s, -webkit-transform 1s;
  transition: color 1s, transform 1s;
}

.address:hover {
  color: $graffitihotpink;
  transition-duration: 0.5s;
}

h3 {
  color: $graffitilistblue;
}

.search-container { margin-bottom: 55px; }

.graffitis { padding: 0; }

li {
  list-style-type:none;
  margin-left: 10px;
}

// Small devices (landscape phones, 576px and up)
@media only screen and  (min-width: 576px) {
  .list-container { padding-left: 7%; }
  .map-container { margin-left: 7%; }
  h1 { font-size: 36px;}
  #title { font-size: 6em; }
}

// Medium devices (tablets, 768px and up)
@media only screen and  (min-width: 768px) {
  #title { font-size: 8em; }
  #subtitle { font-size: 2em; }
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
  .list-container { padding-left: 5%; }
  .map-container { margin-left: 0; }
}
