/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap/dist/css/bootstrap
*= require blueimp-file-upload/css/jquery.fileupload.css
*= require blueimp-file-upload/css/jquery.fileupload-ui.css
*= require blueimp-gallery/css/blueimp-gallery.min.css
*= require blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css
*= require_tree .
*= require_self
*/
@import "variables";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../assets/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  margin: 0;
  background-color:black;
  color: $graffitigreen;
  font-family: Futura;
}

a { color: orange; }

a:link {
  text-decoration: none;
  cursor: grabbing;
}

.page-header {
  margin-right: 60px;
}

header > span { color: $graffitigreen }

header > h3 { display: inline-block;}

header > .glyphicon { padding-left: 1px;}

.favorites {
  color: $graffitigreen;
  margin-left: -82px;
  margin-top: 38px;
}

.collapse.navbar-collapse { margin-right: 50px; } 

#map-canvas {
  float: right;
  margin-top: 40px;
  margin-right: 50px;
  width:  900px;
  height: 600px;
  border: 1px solid black;
}

#sign_up {
  float:right;
  margin-top: -20px;
  margin-right: 12px;
}

.title-container {
  margin-left: 10px;
}

div.title-container a {color: $graffitigreen;}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: $graffitilistblue;
  background-color: $graffitiyellow; 
}


#title {
  text-align: center;
  font-size: 8em;
}

#subtitle {
  text-align: center;
  margin-top: -20px;
  font-size: 2em;
  margin-bottom: 30px;
}

.button {
  background-color: $graffitihotpink;
  border-radius: 5px;
  font-family: futura;
  padding: 3px;
  margin: 2px;
}

#search, select, input {
  margin-top: 60px;
  width: 170px;
  color: black;
  border: lightblue solid 2px;
  padding: 1px;
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
}

#panel {
  position: absolute;
  display: inline;
  top: 320px;
  left: 100%;
  margin-left: -260px;
  z-index: 6;
  padding: 5px;
}

ul {
  margin-top: -60px;
}

.address {
  margin-left: -50px;
  -webkit-transition: color 1s, -webkit-transform 1s;
  transition: color 1s, transform 1s;
}

.address:hover {
  color: $graffitihotpink;
  transition-duration: 0.5s;
}

.my-container {
  margin-top: 55px;
  margin-left: -145px;
  display: block;
}

.search-container {
  margin: -5px 80px 0px -100px;
}

h3 {
  color: $graffitilistblue;
}

li {
  list-style-type:none;
  margin-left: 10px;
}