
@import "variables";

.modal {
  overflow: auto;
  color: #333;
}

.blueimp-gallery > .title {
  color: orange;
  font-size: 30px;
  font-family: Futura;
  margin-left: 100px;
  margin-top: 60px;
}

#links {
  margin-right: 80px;
  margin-top: 50px;
}

.video-thumbnail {
  position: relative;
  display: inline-block;
}

.video-thumbnail .glyphicon {
  position: absolute;
  margin-left: 73%;
  margin-top: 9%;
  z-index: 999;
  color: #fAff7f;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-thumbnail .glyphicon:hover {
  color: $graffitihotpink;
  font-size: large;
}