
@import "variables";

.modal {
  overflow: auto;
  color: #333;
}

.blueimp-gallery > .title {
  color: orange;
  font-size: 30px;
  font-family: Futura;
  margin-left: 100px;
  margin-top: 60px;
}

#links {
  margin-right: 80px;
  margin-top: 50px;
}

.video-thumbnail {
  position: relative;
  display: inline-block;
}

.video-thumbnail .glyphicon {
  position: absolute;
  margin-left: 78%;
  margin-top: 11%;
  z-index: 999;
  color: #fAff7f;
}

.video-thumbnail .glyphicon:hover {
  color: $graffitihotpink;
}

.modal-header {
  color: $graffitilistblue;
  display: inline-block;
  margin-left: 5%;
}