
@import "variables";

.modal {
  overflow: auto;
  color: #333;
}

.blueimp-gallery > .title {
  color: orange;
  font-size: 30px;
  font-family: Futura;
  margin-left: 100px;
  margin-top: 60px;
}

#links {
  margin-right: 80px;
  margin-top: 50px;
}