// Place all the styles related to the Graffiti controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-gallery {
  margin-top: 5px;
}

#goHome {
  margin-top: 1%;
}

.map-button {
  position: absolute;
  margin-left: 25%;
  z-index: 1;
  margin-top: -41%;
  @media only screen and (min-width: 550px) {
    margin-left: 33%;
  }
  @media only screen and (min-width: 600px) {
    margin-left: 39%;
  }
  @media only screen and (min-width: 700px) {
    margin-left: 43%;
  }
  @media only screen and (min-width: 796px) {
    margin-left: 48%;
  }
  @media only screen and (min-width: 1000px) {
    margin-left: 143%;
    margin-top: 7%;
  }
  @media only screen and (min-width: 1060px) {
    margin-left: 148%;
  }
  @media only screen and (min-width: 1289px) {
    margin-left: 157%;
  }
}

.info {
  margin-top: 1%;
}
