// Place all the styles related to the Graffiti controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-gallery {
  margin-top: 5px;
}

#goHome {
  margin-top: 1%;
}

#saveStreetview {
  position: absolute;
  margin-left: 77%;
  z-index: 1;
  margin-top: -10%;
}

.info {
  margin-top: 1%;
}
